html, body {
    padding: 0;
    margin: 0;
}

/* This refers to login page */

.login-page {
    display: flex;
    position: fixed;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
}

.login-page img {
    width: 40%;
    height: auto;
}

.login-form {
    display: flex;
    flex-direction: column;
}

.login-form input {
    background-color: white;
    border: solid 0.5px;
    border-color: #EAAC47;
}

/* This refers to student page */

.user-page {
    display: grid;
    grid-template-columns: 20% 60% 20%;
    height: 100vh;
    width: 100vw;
}

.left-sidebar {
    grid-column: 1;
    height: 100%;
    width: 20%;
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: bisque;
}

.left-sidebar img {
    width: 20%;
    height: auto;
}

.center {
    grid-column: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.right-sidebar {
    grid-column: 3;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: bisque;
}
